* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  font-size: 1.3vw;
  color: #1c1c1c;
}

p {
  font-size: 1.3vw;
  line-height: 150%;
}

body {
  background-color: #fcfcfc;
  margin: 0;
  max-width: 1920px;
  overflow-x: hidden;
}

/* 기타 class */
.shadow {
  box-shadow: #ececec 5px 5px 3px 0px;
  /* 좌우, 상하, blur, spread */
}

.shadow_black {
  box-shadow: #707070b6 1px 3px 2px 0px;
}

.scale_up {
  transform: scale(1.05);
  transition: 0.5s;
}

.scale_down {
  transform: scale(1);
  transition: 0.5s;
}

.color_green {
  color: #13ae5c;
  transition: 0.4s;
}

.color_orange {
  color: #d48414;
  transition: 0.4s;
}

.color_blue {
  color: #0f92dd;
  transition: 0.4s;
}

.color_off {
  color: #1c1c1c;
  transition: 0.5s;
}

.bold {
  font-weight: bold;
}

.color_2c {
  color: #2c2c2c;
}

.color_7c {
  color: #7c7c7c8c;
}

.green {
  color: #13ae5c;
}

.red {
  color: #eb2a00;
}

.font_17 {
  font-size: 1.7vw;
}

.font_22 {
  font-size: 2.2vw;
}

/* section1 시작 */
.section1 {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  box-sizing: border-box;
  margin-bottom: 20vh;
}

.section1 .article1-1 {
  grid-column: 1/13;
  grid-row: 1/13;
}

.section1 .article1-1 .background {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section1 .article1-2 {
  grid-column: 5/13;
  grid-row: 5/13;
  margin-bottom: 30px;
}

.section1 .article1-2 .section1_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1 .article1-3 {
  grid-column: 3/6;
  grid-row: 9/11;
  display: flex;
  align-items: flex-end;
}

.section1 .article1-3 .line {
  width: 100%;
  height: 42%;
  background-color: #13ae5c;
}

.section1 .article1-4 {
  grid-column: 3/6;
  grid-row: 9/11;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 .article1-4 .About {
  /* font-family: "Pretendard-regular"; */
  font-size: 7.5vw;
  font-weight: bold;
}

/* section3 시작 */
.section3 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100%;
  margin-bottom: 20vh;
}

/* 지구온도상승 애니메이션 */
.sticky {
  /* 이거 쓸때는 height % 사용하면 안됨! */
  position: sticky;
  top: 0;
  width: 100%;
}

.sa {
  opacity: 0;
  transition: all 0.4s ease;
}

.show {
  opacity: 1;
  transition: all 0.5s ease;
}
/* 애니메이션 끝 */

.section3 .article3-0,
.article3-1,
.article3-2,
.article3-3,
.article3-4,
.article3-5,
.article3-6 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3 .article3-0 .text_start {
  font-size: 2.5vw;
}

.temp1,
.temp2,
.temp3 {
  margin-top: 20px;
}

.text_temp {
  margin-top: 40px;
}

.section3 .article3-4 .text_temp,
.article3-5 .text_temp {
  display: flex;
  justify-content: flex-start;
}

.section3 .article3-4 .text_temp2,
.text_temp3,
.article3-5 .text_temp2 {
  padding-left: 7px;
}

.section3 .article3-5 .temp2 {
  margin-top: 0px;
}

.section3 .article3-5 .temp1-5 {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.section3 .article3-5 .temp1-5 .text_temp1-5 {
  display: flex;
  margin-right: 20px;
}

.section3 .article3-5 .temp1-5 .redLine {
  width: 60vw;
  height: 2.4px;
  background-color: #eb2a00;
}

/* section4 시작하면서 헤더 바뀜 */
.gray_header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  /* width: 65%; */
  width: 100%;
  padding: 1vw 0;
  z-index: 1;
}

.menu_on {
  background-color: #1c1c1c;
  color: #ffffff;
}

.gray_header img {
  margin: 0 2vw;
  width: 50px;
  height: 50px;
  object-fit: contain;
  z-index: 1;
}

.gray_header .menu {
  display: flex;
  margin-left: 11vw;
}

.gray_header .menu1 {
  /* margin: 0 30px; */
  margin: 0 2vw;
  padding: 6px 12px;
  z-index: 1;
}

.gray_header .menu2 {
  /* margin: 0 30px; */
  margin: 0 2vw;
  padding: 6px 12px;
  z-index: 1;
}

.gray_header .menu3 {
  /* margin: 0 30px; */
  margin: 0 2vw;
  padding: 6px 12px;
  z-index: 1;
}

.gray_header .about_page {
  /* margin: 0 30px; */
  /* margin: 0 2vw; */
  /* padding: 6px 12px; */
  z-index: 1;
}

.gray_header .about_page .text_about {
  font-size: 7vw;
  font-weight: 600;
  line-height: 0%;
  letter-spacing: -6px;
  color: #1313130b;
}

.backdrop {
  width: 100vw;
  height: 80px;
  position: fixed;
}

/* section4 시작 */
.section4 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 20vh;
  margin-top: 40vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 30px;
}
/* 
.section4 #cloud {
  transform: translateY(400px);
  font-size: 500px;
  color: #adadad45;
  position: absolute;
  z-index: -1;
} */

.section4 .article4-1 {
  grid-column: 2/6;
  grid-row: 7/9;
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 80px;
}

.section4 .article4-1 .carbon {
  font-size: 3vw;
  font-weight: 600;
}

.section4 .article4-2 {
  grid-column: 2/7;
  grid-row: 9/12;
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 40px;
}

.section4 .article4-3 {
  grid-column: 2/7;
  grid-row: 2/7;
  overflow: hidden;
  opacity: 0;
}

.section4 .article4-3 img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.section4 .article4-4 {
  grid-column: 7/12;
  grid-row: 2/12;
  overflow: hidden;
  opacity: 0;
}

.section4 .article4-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section5 시작 */
.section5 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 20vh;
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 30px;
}

/* .section5 #trash {
  font-family: "Pretendard-regular";
  transform: translateY(200px);
  font-size: 400px;
  color: #adadad45;
  position: absolute;
  z-index: -1;
} */

.section5 .article5-1 {
  grid-column: 2/12;
  grid-row: 2/4;
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 50px;
}

.section5 .article5-1 .trash {
  font-size: 3vw;
  font-weight: 600;
}

.section5 .article5-2 {
  grid-column: 2/12;
  grid-row: 4/6;
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 50px;
}

.section5 .article5-3 {
  grid-column: 2/12;
  grid-row: 6/12;
  overflow: hidden;
  opacity: 0;
  margin-top: 20px;
}

.section5 .article5-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section6 시작 */
.section6 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 50vh;
  margin-top: 20vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
  column-gap: 30px;
}

.section6 .article6-1 {
  grid-column: 2/12;
  grid-row: 2/4;
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 50px;
}

.section6 .article6-1 .water {
  font-size: 3vw;
  font-weight: 600;
}

.section6 .article6-2 {
  grid-column: 2/12;
  grid-row: 4/6;
  display: flex;
  align-items: center;
  opacity: 0;
  margin-top: 50px;
}

/* section7 시작*/
.section7 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 20vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.section7 .article7-1 {
  grid-column: 2/7;
  grid-row: 1/11;
}

.section7 .article7-1 .box1 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-top: 40px;
}

.section7 .article7-1:hover {
  cursor: pointer;
}

.section7 .article7-1 .box1 .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section7 .article7-1 .box1 .flex i {
  font-size: 100px;
}

.section7 .article7-1 .box1 .flex .hand {
  font-size: 5.5vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.section7 .article7-1 .box1 .text_hand {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section7 .article7-2 {
  grid-column: 7/12;
  grid-row: 1/6;
}

.section7 .article7-2:hover {
  cursor: pointer;
}

.section7 .article7-2 .box2 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-top: 40px;
}

.section7 .article7-2 .box2 .flex {
  display: flex;
  justify-content: center;
}

.section7 .article7-2 .box2 .flex .half {
  font-size: 5.5vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.section7 .article7-2 .box2 .flex i {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

.section7 .article7-2 .box2 .text_half {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section7 .article7-3 {
  grid-column: 7/12;
  grid-row: 6/11;
}

.section7 .article7-3:hover {
  cursor: pointer;
}

.section7 .article7-3 .box3 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-top: 40px;
}

.section7 .article7-3 .box3 .flex {
  display: flex;
  justify-content: center;
}

.section7 .article7-3 .box3 .flex .energy {
  font-size: 5.5vw;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.section7 .article7-3 .box3 .flex i {
  font-size: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
}

.section7 .article7-3 .box3 .text_energy {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* section8 시작 */
.section8 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 20vh;
}

.section8 .article8-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section8 .article8-0 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}

.section8 .article8-0 .circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(circle, #8cff834d 10px, #fcfcfc 90px);
  position: absolute;
  z-index: -1;
}

.section8 .article8-1 .text_notrash {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section8 .article8-1 .text_notrash .text8-1,
.text8-2 {
  margin-bottom: 1.5vh;
  font-size: 2.3vw;
}

/* section9 */
.section9 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 100vh;
  margin-bottom: 20vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  column-gap: 30px;
}

.section9 .article9-1 {
  grid-column: 1/13;
  grid-row: 1/13;
}

.section9 .article9-1 img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
}

.section9 .article9-2 {
  grid-column: 1/13;
  grid-row: 4/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section9 .article9-2 .vision {
  font-size: 3vw;
  font-weight: bold;
}

.section9 .article9-3 {
  grid-column: 1/13;
  grid-row: 6/8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section9 .article9-3 .text_vision .text9-1 {
  margin-bottom: 1.5vh;
}

.section9 .article9-3 .text_vision .text9-1,
.text9-2 {
  display: flex;
  justify-content: center;
}

.section9 .article9-3 .text_vision .text9-1 .vision1,
.text9-2 .vision2 {
  font-size: 2vw;
  font-weight: 600;
}

/* section10 */
.section10 {
  box-sizing: border-box;
  max-width: 100vw;
  height: 50vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section10 .article10-1 {
  width: 15vw;
  height: 10vh;
  background-color: #13ae5c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section10 .article10-1:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s;
}

.section10 .article10-1 .goto_next {
  font-size: 1.5vw;
  font-weight: bold;
  color: #ffffff;
}
