* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard, "Noto Sans KR", sans-serif;
  font-size: 1.3vw;
  color: #1c1c1c;
}

p {
  font-size: 1.3vw;
  line-height: 150%;
}

body {
  background-color: #fcfcfc;
  margin: 0;
  max-width: 1920px;
  overflow-x: hidden;
}

/* 헤더 */
.header {
  z-index: 2;
  width: 100%;
  height: 5.3vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

.head_box1 {
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.head_box1 img {
  margin: 2vw;
}

.head_box2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.head2 {
  margin: 2vw;
  color: rgb(0, 0, 0);
}

.head3 {
  border: none;
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 3vw;
  color: white;
  background-color: #13ae5c;
}

.head_box2 .about:hover {
  cursor: pointer;
  color: #13ae5c;
}

.head_box2 .campaign:hover {
  cursor: pointer;
  color: #13ae5c;
}

.head_box2 .donate:hover {
  cursor: pointer;
  color: #13ae5c;
}

.head_box2 .diy:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}

/* 기타 class */
.shadow {
  box-shadow: #ececec 3px 3px 5px 2px;
  /* 좌우, 상하, blur, spread */
}

.shadow_black {
  box-shadow: #707070b6 1px 3px 2px 0px;
}

.scale_up {
  transform: scale(1.05);
  transition: 0.5s;
}

.scale_down {
  transform: scale(1);
  transition: 0.5s;
}

.color_off {
  color: #1c1c1c;
  transition: 0.5s;
}

.bold {
  font-weight: bold;
}

.color_2c {
  color: #2c2c2c;
}

.color_7c {
  color: #7c7c7c8c;
}

.green {
  color: #13ae5c;
}

/* section1 */
.section1 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  box-sizing: border-box;
  margin-bottom: 20vh;
}

.section1 .article1-1 {
  grid-column: 2/7;
  grid-row: 7/8;
}

.section1 .article1-1 p {
  font-size: 2.8vw;
  font-weight: 600;
}

.section1 .article1-2 {
  grid-column: 2/6;
  grid-row: 9/10;
}

.section1 .article1-2 p {
  font-size: 3vw;
  font-weight: 700;
}
.section1 .line {
  grid-column: 2/6;
  grid-row: 9/9;
  z-index: -1;
  display: flex;
  align-items: center;
}

.section1 .lightgreen_line {
  margin-top: 3vh;
  width: 82%;
  background-color: #e3e5dc;
  height: 40%;
}

.section1 .article1-3 {
  grid-column: 2/6;
  grid-row: 10/11;
}

.section1 .article1-3 p {
  font-size: 3vw;
  font-weight: 700;
}

.section1 .article1-4 {
  margin-left: 2vw;
  margin-right: 4vw;
  grid-column: 8/12;
  grid-row: 4/11;
}

.section1 .article1-4 img {
  width: 100%;
  height: 100%;
}

.section1 .article1-5 {
  margin-left: 2vw;
  grid-column: 7/9;
  grid-row: 5/10;
}

.section1 .article1-5 img {
  width: 100%;
  height: 100%;
}

.section1 .article1-6 {
  margin-left: 2vw;
  grid-column: 10/12;
  grid-row: 8/12;
}

.section1 .article1-6 img {
  width: 100%;
  height: 100%;
}

/* section2 */
.section2 {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin-bottom: 20vh;
}

.section2 .container {
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: "IAMAPLAYER";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ramche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ClimateCrisisKRVF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKRVF.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

#product {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  margin-top: 2vw;
  width: 40vw;
  height: 40vw;
}
#product2 {
  z-index: 0;
  background-size: contain;
  opacity: 0.3;
  border: none;
}
#outputDiv {
  z-index: 3;
  width: max-content;
  position: absolute;
  cursor: move;
}

/* p {
  font-family: "Ramche";
  padding: 5px;
}

P:hover {
  border: 2px dashed black;
} */

.color-option {
  border-radius: 50%;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin: 5px;
  cursor: pointer;
}
.color-option:hover {
  border: 1px solid black;
}
.container {
  background-color: #f6f6f6;
  height: 100%;
  width: 100%;
  display: flex;
}
.box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;
}
.menubar {
  font-size: 1.5vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 3vw;
  border-radius: 25px;
  width: 90%;
  height: 5vw;
  background-color: white;
}
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 100%;
}
.box2 {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  width: 40%;
}
.box2_contain {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  width: 90%;
  height: 90%;
}

.box2_contain_scroll {
  overflow: overlay;
  height: 90%;
}
.box2_contain_text1 {
  font-style: bold;
  margin-left: 2vw;
  margin-top: 2vw;
  width: 100%;
  height: 3vw;
}
.box2_contain_choice {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 8vw;
}

.choice-option {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 19%;
  height: 7vw;
  border-radius: 10px;
}
.box2_contain_color {
  display: flex;
  justify-content: center;
  height: 3vw;
}
.box2_contain_texture {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 4vw;
}

.texture_option {
  background-color: white;
  font-size: 2vw;
  width: 3vw;
  height: 3vw;
}

.texture_option:hover {
  border: 1px solid black;
}

.buy_box {
  margin-top: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vw;
}
.buy {
  border: none;
  font-size: 1.5vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: black;
  width: 80%;
  height: 3.5vw;
}
.buy:hover {
  background-color: gray;
}

.box2_contain_txt {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 5vw;
}

#inputText {
  font-size: 2.5vw;
  border: 2px solid rgb(183, 183, 183);
}

#submitButton {
  border: 2px solid rgb(183, 183, 183);
  border-radius: 20px;
  width: 6vw;
  height: 2.5vw;
  background-color: white;
  color: rgb(183, 183, 183);
}
#submitButton:hover {
  background-color: black;
}

#fontPlus,
#fontMinus {
  border-radius: 20px;
  width: 8vw;
  height: 3vw;
  color: rgb(183, 183, 183);
  border: 2px solid rgb(183, 183, 183);
  background-color: white;
}
#fontPlus:hover {
  background-color: black;
}

#fontMinus:hover {
  background-color: black;
}
.fontoption {
  display: flex;
  height: 4vw;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.dropbtn {
  border: 2px solid rgb(183, 183, 183);
  border-radius: 5px;
  color: rgb(183, 183, 183);
  padding: 16px;
  font-size: 16px;
  width: 30vw;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 90%;
}

/* Links inside the dropdown */
.dropdown-content a {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.font-option {
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* section3 */
.section3 {
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  box-sizing: border-box;
  margin-bottom: 5vh;
}

.section3 .article3-1 {
  grid-column: 5/9;
  grid-row: 5/6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section3 .article3-1 p {
  font-size: 2.5vw;
  font-weight: 700;
}

.section3 .article3-2 {
  grid-column: 5/9;
  grid-row: 6/7;
  display: flex;
  justify-content: center;
}

.section3 .article3-2 p {
  font-size: 2.5vw;
  font-weight: 700;
}

.section3 .article3-3 {
  grid-column: 5/9;
  grid-row: 8/9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.section3 .article3-3 p {
  font-size: 1.5vw;
  font-weight: 700;
}

.section3 .article3-4 {
  grid-column: 6/8;
  grid-row: 11/13;
  margin: 0 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .article3-4 i {
  font-size: 1.5vw;
  font-weight: 700;
  margin-right: 0.4vw;
  color: #13ae5c;
}

.section3 .article3-4 .share {
  font-weight: 700;
  color: #13ae5c;
}

.section3 .article3-4:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s;
}

/* section4 */
.section4 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  box-sizing: border-box;
}

.section4 .article4-1 {
  margin: 0 3vw;
  grid-column: 2/5;
  grid-row: 2/11;
}
.section4 .article4-1 img {
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
}
.section4 .article4-2 {
  margin: 0 3vw;
  grid-column: 5/8;
  grid-row: 2/11;
}

.section4 .article4-2 img {
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
}
.section4 .article4-3 {
  margin: 0 3vw;
  grid-column: 8/11;
  grid-row: 2/11;
}
.section4 .article4-3 img {
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
}
