@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ramche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClimateCrisisKRVF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKRVF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KBO-Dia-Gothic_bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
    color: #1C1C1C;}
html, body{
    
    height: 100%;
}

#product {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    margin-top: 2vw;
    width: 40vw;
    height: 40vw;
   
    
}
#product2 {
    z-index: 0;
    background-size: contain;
    opacity: 0.3;
    border: none;
  
}
#outputDiv {
    z-index: 3;
    width: max-content;
    position: absolute;;
    cursor : move;
  }

p {
    font-family: 'Ramche';
    padding: 5px;
  }

P:hover{
    border: 2px dashed black;
  }

.color-option {
 border-radius: 50%;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin: 5px;
  cursor: pointer;
}
.color-option:hover{
    border: 1px solid black;

}
.container{
    background-color: #F6F6F6;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2vw;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
   
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 100%;
}
.box2{
    display: flex;
    align-items: center;
    height: max-content;
    width: 40%;
}
.box2_contain{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FCFCFC;
    width: 90%;
    height: max-content;
}

.box2_contain_scroll{
    border-bottom: 2px solid rgb(240, 240, 240);
    overflow: overlay;
    height: 45vw;
    
}
.box2_contain_text1{
    display: flex;
    align-items: center;
    background-color: #eeeded;
    font-style: bold;
    margin-left: 2vw;
    margin-top: 3vw;
    padding: 1vw;
    width: 90%;
    height: 3vw;
    border-radius: 10px;
}
.box2_contain_choice{
    margin-top: 1vw;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 8vw;
}

.choice-option{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 19%;
    height: 7vw;
    border-radius: 10px;
}
.box2_contain_color{
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    height: 3vw;
}
.box2_contain_texture{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 4vw;
}

.texture_option{
    background-color: white;
    font-size: 2vw;
    width: 3vw;
    height: 3vw;
}

.texture_option:hover{
    border: 1px solid black;
}

.buy_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5vw;
}
.buy{
    border: none;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: white;
    border: 2px solid rgb(183, 183, 183);
    background-color: black;
    width: 80%;
    height: 3.5vw;
}
.buy:hover{
    background-color: #13AE5C;
    color: white;
   cursor: pointer;
   
}

.box2_contain_txt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 5vw;
}

#inputText{
    font-size: 2.5vw;
    border: 2px solid rgb(183, 183, 183);
}

#submitButton{
    font-family: "Pretendard";
    border: none;
    border-radius: 10px;
    width: 7vw; 
    height: 3vw;
    color:  rgb(183, 183, 183);
    border: 2px solid rgb(183, 183, 183);
    background-color: white;
    
}
#submitButton:hover{
    background-color: #13AE5C;
    color: white;
    cursor: pointer;
    scale: 1.1;

}

#fontPlus, #fontMinus{
    border-radius: 20px;
    width: 8vw;
    height: 3vw;
    color:  rgb(183, 183, 183);
    border: 2px solid rgb(183, 183, 183);
    background-color: white;
}
#fontPlus:hover{
    background-color: #13AE5C;
    color: white;

}

#fontMinus:hover{
    background-color: #13AE5C;
    color: white;

}
.fontoption{
    margin-top: 1vw;
    display: flex;
    height: 4vw;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}
   


