@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular", "Noto Sans KR", sans-serif;
  font-size: 1.3vw;
<<<<<<< HEAD:css/donation1.css
}
/* -----------------HEADER----------------- */
.header {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  position: fixed;
  height: 5vw;
  display: flex;
  width: 100%;
  align-items: center;
}
.header {
  z-index: 2;
  width: 100%;
  height: 5.3vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}
.head_box1 {
  color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.head_box1 img {
  margin: 2vw;
}
.head_box2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.head2 {
  margin: 2vw;
  color: rgb(0, 0, 0);
}
.head3 {
  border: none;
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 3vw;
  color: white;
  background-color: #13ae5c;
}
.head_box2 .green:hover {
  cursor: pointer;
  color: #13ae5c;
}
.head_box2 .campaign:hover {
  cursor: pointer;
  color: #13ae5c;
}
.head_box2 .donate:hover {
  cursor: pointer;
  color: #13ae5c;
}
.head_box2 .diy:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
=======
>>>>>>> main:css/donation.css
}
/* -----------------MAIN----------------- */
.container0 {
  width: 100%;
  height: 50vh;
}
/* container0은 스크롤 보이게 하려고 공간 만든거라 높이는 마음대로 조정하셔도 됩니당 */
.container1 {
  width: 100%;
  height: 100vh;
  padding: 5vw 0 0 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.container1 .inner-wrap {
  position: relative;
}
.container1 .video-wrap {
  position: relative;
  translate: none;
  rotate: none;
  scale: none;
  width: 100%;
  height: 100%;
}
.container1 video {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  object-position: center;
}
.container1 .video-wrap .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../image/parter-bg.png"); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
.container1 .video-wrap .img .bg_img {
  width: 100%;
  height: 100%;
}
.container1 .text-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
}
.container1 .text-wrap .text {
  opacity: 0;
  font-size: 5vw;
  font-weight: 600;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: sans-serif;
  transform: translateY(-50%);
}
/* -----------------Second Page------------- */
.container2 {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vw;
}
.container2 .line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: #67815b;
  font-size: 3vw;
  margin: 8px 0px;
}
.container2 .line::before,
.container2 .line::after {
  content: "";
  flex-grow: 1;
  background: #67815b;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}
.container2 h2 hr {
  border: solid 1px #67815b;
  width: 100%;
  display: absolute;
}
.container2 .circle {
  display: flex;
}
.container2 .circle .content1 {
  display: flex;
  justify-content: center;
}
.container2 .circle .content1 .c1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 ul {
  width: 21vw;
  margin-top: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 ul li {
  list-style-type: none;
  margin-top: 1vw;
  width: 17vw;
}
.container2 .circle .content2 .c2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container2 .circle .content3 .c3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container2 .circle .content4 .c4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* 화살표 */
.arrow {
  margin: 10vw 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* --------------Third Page-------------- */
.container3 {
  width: 100%;
  height: 100%;
  margin: 20vw 10vw 10vw 10vw;
}
.container3 .search {
  width: 80vw;
  height: 4vw;
  border: 1px solid #13ae5c;
  background: #ffffff;
  display: flex;
}
.container3 input {
  font-size: 16px;
  width: 95%;
  height: 100%;
  padding: 10px;
  border: 0px;
  outline: none;
}
.container3 button {
  width: 5%;
  height: 100%;
  border: 0px;
  background: #13ae5c;
  outline: none;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.container3 .slideshow .controller {
  position: absolute;
  background-color: transparent;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 10px 20px;
  top: 50%;
  font-size: 1.3em;
  cursor: pointer;
}
.container3 .slideshow .controller .buttonprev {
  left: 10vw;
}
.container3 .slideshow .controller .buttonnext {
  right: 10px;
}
.container3 .slideshow {
  width: 100vw;
  max-width: 250vw;
  height: 40vw;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  float: left;
}
.container3 .slideshow .slide {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 0.5s ease-out;
}
.container3 .slideshow .slide .box-wrap {
}

.container3 .slideshow .slide .box {
  display: flex;
  width: 80vw;
  vertical-align: top;
  float: left;
}

.container3 .section1 .box1 {
  width: 50%;
  height: 40vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/지구쓰담.png");
  background-size: cover;
  background-position: center;
}
.container3 .boxupdown {
  width: 50%;
}
.container3 .section1 .box2 {
  height: 20vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/그린피스.png");
  background-size: cover;
  background-position: center;
}
.container3 .section1 .box3 {
  height: 20vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/환경운동연합.png");
  background-size: cover;
  background-position: center;
}

.container3 .section2 .box1 {
  width: 50%;
  height: 40vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/전국자연보호중앙회.jpg");
  background-size: cover;
  background-position: center;
}
.container3 .section2 .box2 {
  height: 20vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/WWF.jpg");
  background-size: cover;
  background-position: center;
}
.container3 .section2 .box3 {
  height: 20vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/녹색보호.jpg");
  background-size: cover;
  background-position: center;
}

.container3 .section3 .box1 {
  width: 50%;
  height: 40vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/아름다운\ 제단.jpg");
  background-size: cover;
  background-position: center;
}
.container3 .section3 .box2 {
  height: 20vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/위이어.jpg");
  background-size: cover;
  background-position: center;
}
.container3 .section3 .box3 {
  height: 20vw;
  border: 1px solid #13ae5c;
  box-sizing: border-box;
  background-image: url("../image/자연드림씨앗재단.jpg");
  background-size: cover;
  background-position: center;
}
/* -----------------Forth Page------------------ */
.container4 {
  margin: 0 auto;
  padding: 10vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container4 .text h3 {
  /*끝에 줄이는 방법 모름*/
  margin: 0 15vw;
  padding: 1vw;
  background-color: #d9d9d9;
  font-size: 2vw;
}
.container4 .text h5 {
  margin: 3vw;
  font-size: 2vw;
}
.container4 .text h5 b {
  font-weight: bold;
}
.container4 .text div i {
  font-size: 5vw;
}
/* -----------------Fifth Page------------------ */
.container5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container5 .bigbox {
  width: 80vw;
  height: 60vw;
  border: 1px solid #545454;
  border-radius: 0.5vw;
}
.container5 .bigbox .card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4vw;
}
.container5 .bigbox .card img {
  border: 0.5vw solid #545454;
  border-radius: 0.5vw;
}
.container5 .bigbox .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container5 .bigbox .icon img {
  width: 13vw;
  height: 13vw;
  margin-top: 2vw;
  filter: opacity(75%);
}
.container5 .bigbox .card .card3 .cardimg {
  background-position: center;
}
<<<<<<< HEAD:css/donation1.css
/* -----------------FOOTER----------------- */
hr {
  margin: auto;
}
footer {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}
footer .f1 {
  display: flex;
  height: 100%;
}
footer .f1 .teammates {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5vw 0 2vw;
}
footer .content_center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .f1 .teammates .name1,
.name2,
.name3,
.name4 {
  font-size: 0.9vw;
}
footer .f1 .contect {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1.5vw 0 3vw;
}
footer .f1 .contect .insta {
  font-size: 0.9vw;
}
footer .f2 {
  display: flex;
}
footer .f2 .page {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 1vw;
}
footer .content_end {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
footer .f2 .team_name,
.team_vision {
  font-size: 1.1vw;
}
.color_82 {
  color: #5a5a5a96;
}
.font_600 {
  font-weight: 600;
}
=======
>>>>>>> main:css/donation.css
