.header {
  display: flex;
  justify-content: space-around;
  /* background-color: #addaf5; */
  position: fixed;
  height: 5vw;
  display: flex;
  width: 100%;
  align-items: center;
}

.head {
  font-size: 4vw;
  color: rgb(0, 0, 0);
}
.head2 {
  margin-left: 4vw;
  font-size: 2vw;
  font-size: bold;
  color: rgb(0, 0, 0);
  /* font-family: 'omyu_pretty'; */
}
.head2:hover {
  font-size: 2.5vw;
}
.section1 {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.text {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  text-align: center;
}
.main video {
}
