/* 헤더 */
.header {
  z-index: 2;
  width: 100%;
  height: 5.3vw;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
}

.head_box1 {
  color: white;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.head_box1 img {
  margin: 2vw;
}

.head_box2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

.head2 {
  margin: 2vw;
  color: rgb(0, 0, 0);
}

.head3 {
  border: none;
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 3vw;
  color: white;
  background-color: #13ae5c;
}

.head_box2 .campaign:hover {
  cursor: pointer;
  color: #13ae5c;
}

.head_box2 .donate:hover {
  cursor: pointer;
  color: #13ae5c;
}

.head_box2 .diy:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s;
}
